*{
    margin: 0;
    padding: 0;
    
}

body {
    background-color:#eee ;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #fff;
}

nav p{
    float: left;
    line-height: 55px;
    display: inline-block;
    line-height: 100px;
}

ul {
margin-left: 210px;
}

ul li{
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;
}

ul li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: arial;
    color: #1e1e1e;
    padding: 0 20px;
}


ul li a:hover {
   color: rgb(128,128,128);
}


input[type=button], input[type=submit], input[type=reset] {
    background-color: #1e1e1e;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

#headFlow1{
    box-sizing: border-box;
    width: auto;
    font-size: auto;
	height: auto;
	border: 3px solid #1e1e1e;
    float: inline-start;
    margin-left: 2px;
    margin-top: 4px;
    margin-bottom: 10px;
}

#estop{
    background-color: red;
    border: 5px solid rgb(0, 0, 0);
    color: black;
    cursor: pointer;
    font-size: 20;
    font-family: Arial;
    font-weight: bold;
    margin: 4px 2px;
    display: inline-block;
    float: inline-end;
    height: 50px;
    width: 130px;
}

#eReset{
    background-color: green;
    border: 5px solid black;
    color: black;
    cursor: pointer;
    font-size: 20;
    font-family: Arial;
    font-weight: bold;
    margin: 4px 2px;
    display: inline-block;
    float: inline-end;
    height: 50px;
    width: auto;
}

#exper1{
    border: 5px solid black;
    color: black;
    cursor: pointer;
    font-size: 20;
    font-family: Arial;
    font-weight: bold;
    margin: 4px 2px; 
    height: 50px;
    width: auto;
    float: inline-end;

}

#headReadings{
    font-size: 30;
}

#fieldset{
    margin-top: 20px;
    box-sizing: border-box;
	height: auto;
	border: 3px solid #1e1e1e;
    margin-left: 2px;
    font-size: 30;
}

.wrap { 
     
}
.spalte1 { 
    float: left; 
    width: 49%; 
}
.spalte2 { 
    float: right; 
    width: 49%; 
}


#system{
    margin-top: 20px;
    box-sizing: border-box;
	height: auto;
	border: 3px solid #1e1e1e;
    margin-left: 2px;
    font-size: 30;
}

#hideshow{
    display: inline;
    font-size: 20;
}
#notetxt{
    font-size: 20;
}

#buttonshideshow{
    background-color: #1e1e1e;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


#operator{
    margin-top: 10px;
    box-sizing: border-box;
	height: auto;
	border: 3px solid #1e1e1e;
    margin-left: 2px;
    font-size: 30;
}

#datasheet{
    margin-top: 10px;
    box-sizing: border-box;
	height: auto;
	border: 3px solid #1e1e1e;
    margin-left: 2px;
    font-size: 30;
}

#tankvisualisation{
    margin-top: 15px;
    box-sizing: border-box;
	height: auto;
	border: 3px solid #1e1e1e;
    margin-left: 2px;
    font-size: 30;
}

#supply{
    display: inline;
    font-size: 20;
}

#voltage{
    box-sizing: border-box;
    border: 2px solid #1e1e1e;
    background-color: white;
    display: inline;
    font-size: 20;
    padding: 0px 10px 0px 10px;
}

#flow{
    box-sizing: border-box;
    border: 2px solid #1e1e1e;
    background-color: white;
    display: inline;
    font-size: 20;
    padding: 0px 10px 0px 10px;
}

#level{
    box-sizing: border-box;
    border: 2px solid #1e1e1e;
    background-color: white;
    display: inline;
    font-size: 20;
    padding: 0px 10px 0px 10px;
}

#current{
    box-sizing: border-box;
    border: 2px solid #1e1e1e;
    background-color: white;
    display: inline;
    font-size: 20;
    padding: 0px 10px 0px 10px;
}

#note{
    font-size: 24;
    padding-left: auto;
    font-family: arial;
    font-weight: bold;
}


#setVoltage{
    background-color: grey;
    border: 5px solid rgb(0, 0, 0);
    color: black;
    cursor: pointer;
    font-size: 14;
    font-family: Arial;
    font-weight: bold;
    margin: 2px 2px;
    display: inline-block;
    height: 40px;
    width: auto;
}

#voltageField{
    font-size: 14;
    font-family: Arial;
    margin-left: 2px;
    height: 40;
    width: 90px;
}

#gauge{
    display: inline-block;

}





  